<h1>User file</h1>

<div class="user-profile">
  <section class="user-card">
    <section class="photo-cont">
      <img class="usr-pic" src="<%= @user.photo %>" alt="User Photo">
    </section>
    <section class="details-cont">
      <h2><%= @user.name %></h2>
      <p class="com-likes">Number of posts: <%= @posts.count()%></p>
    </section>
  </section>
  </div> 
</div>

<% @posts.each do |post| %>
  <div class="post-card boarder">
    <h3><a href="<%= user_post_url(@user, post) %>"><%= post.title %></a></h3>
    <p><%= post.text %></p>
    <section class="com-likes">
      <small>
        <span>Comments: <%= post.comments.count.zero? ? 0 : post.comments.count %>,</span>
        <span>Likes: <%= post.likes.count.zero? ? 0 : post.likes.count %></span>
      </small>
    </section>
  </div>
    <section class="comments-sec">
      <% @comments[post.id].each do |comment| %>
        <p><%= comment.user_id %> : <%= comment.text %></p>
      <% end %>
    </section>
<% end %>
