<div class="post-details, boarder">
  <p>
    <%= @post.title %> by 
    <%= @user.name %> 
    <span>Comments: <%= @comments.count.zero? ? 0 : @comments.count %></span>
    <span>Likes: <%= @likes.count.zero? ? 0 : @likes.count %></span>
  </p>
  <p class="text"><%= @post.text %></p>
</div>

<section class="comment-sec">
  <p>Comments</p>
    <% post_comments = @comments.where(post_id: @post.id) %>
    <% post_comments.each do |comment| %>
      <p><%= comment.user_id %> : <%= comment.text %></p>
    <% end %>
</section>

 <% if @logged_in_user.likes.exists?(post: @post) %>
    <%= link_to 'Unlike', unlike_post_path(@post), method: :delete %>
  <% else %>
    <%= link_to 'Like', post_like_path(@post), method: :post %>
  <% end %>

<%= form_with model: [@logged_in_user, @post.comments.build], url: post_comments_path(@post) do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  
  <div>
    <%= form.submit 'Create Comment' %>
  </div>
<% end %>


